name: Deploy to GKE

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

permissions:
  contents: read
  id-token: write

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    env:
      PROJECT_ID: law-gpt-487518
      PROJECT_NUMBER: ${{ secrets.GCP_PROJECT_NUMBER }}
      ZONE: us-west1-a
      CLUSTER: lawgpt-cluster
      USE_GKE_GCLOUD_AUTH_PLUGIN: "True"
      SHA: ${{ github.sha }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud (Workload Identity Federation)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/${{ env.PROJECT_NUMBER }}/locations/global/workloadIdentityPools/github-pool/providers/github-provider
          service_account: github-actions@law-gpt-487518.iam.gserviceaccount.com

      - name: Get GKE credentials
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: ${{ env.CLUSTER }}
          location: ${{ env.ZONE }}
          project_id: ${{ env.PROJECT_ID }}

      - name: Inject SHA into Manifests
        run: |
          # Replace the ':latest' placeholder with the actual Commit SHA
          sed -i "s|backend:latest|backend:$SHA|g" k8s/backend-deployment.yaml
          sed -i "s|frontend:latest|frontend:$SHA|g" k8s/fronend-deployment.yaml

      - name: Deploy Kubernetes manifests
        run: kubectl apply -f k8s/
